@import "base.css";
@import "swiper.min.css";
@import "../fonts/BebasNeueRegular/BebasNeueRegular.css";
@import "../fonts/Impact/Impact.css";
@import "../fonts/iconfont/iconfont.css";
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #e2e1e1;
}
::-webkit-scrollbar-thumb {
  background-color: #07913a;
}
::-webkit-scrollbar-track {
  background-color: #e2e1e1;
}
.ph80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.pt80 {
  padding-top: 80px;
}
.pb80 {
  padding-bottom: 80px;
}
.mh50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt40 {
  margin-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
header {
  background: url(../img/header_bg.jpg) top center no-repeat;
  padding-bottom: 20px;
}
header .logo {
  margin-top: 15px;
}
header .logo img {
  display: block;
}
header .logo h1 {
  font-size: 0;
  text-indent: -9999px;
  visibility: hidden;
  line-height: 0;
}
header .header-top-right {
  height: 37px;
  line-height: 37px;
}
header .header-top-right .tel {
  background: url(../img/icon_dh.png) left center no-repeat;
  padding-left: 30px;
}
header .header-top-right .tel span {
  font-size: 14px;
  color: #fff;
  vertical-align: top;
}
header .header-top-right .tel a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  vertical-align: top;
}
header .header-top-right .collect {
  margin-left: 20px;
}
header .header-top-right .collect li {
  float: left;
}
header .header-top-right .collect li a {
  font-size: 14px;
  color: #fff;
  padding: 0 15px;
  border-left: 2px solid #fff;
  line-height: 1;
}
header .header-top-right .collect li:first-child a {
  border-left: 0;
}
header .header-top-right .collect li:last-child a {
  padding-right: 0;
}
header .nav {
  margin-top: 23px;
}
header .nav li {
  float: left;
}
header .nav li a {
  font-size: 18px;
  line-height: 38px;
  display: block;
  padding: 0 25px;
}
header .nav li:last-child a {
  padding-right: 0;
}
.record .left {
  padding-right: 90px;
  position: relative;
}
.record .left .p1 {
  font-size: 18px;
}
.record .left .p1 b {
  font-weight: bold;
  color: #07913a;
}
.record .left .p2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}
.record .left .p3 {
  font-size: 14px;
  width: 410px;
  text-align: justify;
  text-align-last: justify;
  margin-bottom: 10px;
}
.record .left .p4 {
  font-size: 14px;
  line-height: 30px;
  padding-left: 35px;
  background: url(../img/icon_dh2.png) left center no-repeat;
}
.record .left .p4 b {
  color: #07913a;
  font-size: 20px;
  vertical-align: bottom;
}
.record .left .p5,
.record .left .p6 {
  font-family: BebasNeueRegular, sans-serif;
  font-size: 24px;
  color: #c3c3c3;
  line-height: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  right: 0;
  top: 5px;
}
.record .left .p6 {
  right: 30px;
}
.record .right {
  width: 610px;
}
.record .right form {
  font-size: 0;
}
.record .right input {
  width: 190px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-size: 14px;
  padding: 0 15px;
  margin-left: 20px;
}
.record .right input:first-child {
  margin-left: 0;
}
.record .right button {
  display: block;
  width: 610px;
  height: 60px;
  border: solid 1px #d2d2d2;
  background-color: #fff;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
  margin-top: 20px;
}
.friend-link {
  height: 100px;
  background-color: #f4f4f4;
}
.friend-link .wrap {
  padding-top: 29px;
}
.friend-link span {
  display: inline-block;
  width: 115px;
  line-height: 40px;
  text-align: center;
  margin-right: 35px;
  border: 1px solid rgba(68, 68, 68, 0.2);
}
.friend-link a {
  padding: 0 15px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.friend-link a:hover {
  color: #07913a;
}
.friend-link a,
.friend-link i,
.friend-link span {
  font-size: 14px;
  color: #444;
}
footer {
  background-image: url(../img/footer_bg.png);
  background-repeat: no-repeat;
  position: relative;
}
footer::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 7px;
  background: url(../img/footer_xs.png) center center / cover no-repeat;
  top: -7px;
  left: 0;
}
footer .main {
  padding: 70px 0;
  color: #fff;
}
footer .fLogo {
  margin-top: 7px;
}
footer .fNav {
  width: 340px;
  margin-left: 25px;
}
footer .fNav .fNav-list {
  font-size: 0;
}
footer .fNav .fNav-list li {
  float: left;
}
footer .fNav .fNav-list li a {
  font-size: 14px;
  color: #fff;
  padding: 0 14px;
  line-height: 30px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
footer .fNav .fNav-list li a:hover {
  color: #07913a;
}
footer .fNav .fCopyright {
  margin-top: 10px;
  margin-left: 15px;
}
footer .fNav .fCopyright p,
footer .fNav .fCopyright a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
footer .fContact {
  margin-left: 50px;
}
footer .fContact p {
  font-size: 14px;
  line-height: 30px;
}
footer .fContact p.p1 {
  font-size: 16px;
}
footer .fCode {
  margin-top: 7px;
}
footer .fCode .item {
  text-align: center;
}
footer .fCode .item:first-child {
  margin-right: 22px;
}
footer .fCode .item img {
  display: block;
  width: 108px;
  height: 108px;
  margin-bottom: 10px;
}
footer .fCode .item p {
  font-size: 12px;
}
.guide {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9;
}
.guide .guide-item {
  width: 77px;
  height: 71px;
  background-color: #07913a;
  text-align: center;
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #fff;
  cursor: pointer;
}
.guide .guide-item:first-child {
  margin-top: 0;
}
.guide .guide-item:last-child {
  margin-bottom: 0;
}
.guide .guide-item .icon i {
  font-size: 32px;
  line-height: normal;
  color: #fff;
}
.guide .guide-item .txt {
  font-size: 0;
}
.guide .guide-item span,
.guide .guide-item a {
  font-size: 12px;
  color: #fff;
  line-height: normal;
}
.guide .guide-item .guide-item-child {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 215px;
  right: calc(100%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e2e0e0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.guide .guide-item .guide-item-child .guide-item-child-wrap {
  position: relative;
}
.guide .guide-item .guide-item-child .guide-item-child-wrap .shadow {
  width: 12px;
  height: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -10px;
  background-color: #fff;
  z-index: 1;
}
.guide .guide-item .guide-item-child .guide-item-child-wrap::after {
  position: absolute;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  top: 50%;
  right: -17px;
  background-color: #fff;
  border: 1px solid #e2e0e0;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.guide .guide-item:hover .guide-item-child {
  right: calc(100% + 20px);
  visibility: visible;
  opacity: 1;
}
.search-sub {
  border-bottom: 1px #ddd solid;
}
.search-sub .wrap {
  padding: 18px 0;
}
.search-sub .search-words {
  float: left;
  max-width: 850px;
  overflow: hidden;
}
.search-sub .search-words span {
  color: #333;
  font-weight: bold;
}
.search-sub .search-words a {
  color: #666;
  padding: 0 6px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.search-sub .search-words a:hover {
  color: #07913a;
}
.search-sub .search-words a,
.search-sub .search-words span {
  line-height: 35px;
  font-size: 14px;
}
.search-sub .search-box {
  float: right;
  position: relative;
}
.search-sub input {
  display: block;
  width: 352px;
  height: 35px;
  background-color: #eee;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 14px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
.search-sub input:focus {
  border-color: #07913a;
}
.search-sub input::-webkit-input-placeholder {
  color: #bbb;
}
.search-sub input:-ms-input-placeholder {
  color: #bbb;
}
.search-sub input::-ms-input-placeholder {
  color: #bbb;
}
.search-sub input::placeholder {
  color: #bbb;
}
.search-sub button {
  position: absolute;
  width: 45px;
  height: 31px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  right: 2px;
  top: 2px;
  background-color: #eee;
}
.search-sub button i {
  font-size: 20px;
  color: #fff;
}
.search-sub button img {
  width: 23px;
  display: block;
}
.about .plate-title {
  line-height: 1;
  margin-bottom: 40px;
  text-align: left;
}
.about .plate-title::before {
  content: '';
  display: block;
  width: 120px;
  height: 3px;
  background-color: #333333;
  margin-bottom: 30px;
}
.about .plate-title .en {
  font-family: BebasNeueRegular, sans-serif;
  font-size: 66px;
  margin-bottom: 10px;
}
.about .plate-title .en::after {
  display: none;
}
.about .plate-title .cn {
  font-size: 40px;
}
.about .left {
  width: 400px;
}
.about .left .txt {
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 40px;
}
.about .left .btn {
  margin-bottom: 55px;
}
.about .left .btn a {
  display: block;
  width: 200px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19aac7), to(#13ae6a)), -webkit-gradient(linear, left top, left bottom, from(#0dad79), to(#0dad79));
  background-image: linear-gradient(180deg, #19aac7 0%, #13ae6a 100%), linear-gradient(#0dad79, #0dad79);
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-family: BebasNeueRegular, sans-serif;
}
.about .left .btn a span,
.about .left .btn a i {
  font-size: 24px;
  color: #fff;
}
.about .left .btn a span {
  padding-right: 15px;
}
.about .right {
  width: 720px;
}
.about .right .film-wrap {
  height: 600px;
  position: relative;
  padding-top: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 25px;
}
.about .right .play-btn {
  width: 68px;
  height: 68px;
  background: url(../img/play_white.png) center center / cover no-repeat;
  cursor: pointer;
  margin: 0 auto;
}
.about .right .film-mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
}
.about .right .film-mask .wrap {
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about .right .about-num li {
  width: 25%;
  text-align: center;
  float: left;
  line-height: 1;
}
.about .right .about-num li .p1 {
  margin-bottom: 10px;
}
.about .right .about-num li .p1 span {
  font-size: 64px;
  font-family: BebasNeueRegular, sans-serif;
}
.about .right .about-num li .p1 i {
  font-size: 24px;
}
.about .right .about-num li .p2 {
  font-size: 16px;
}
.about .bottom {
  width: 100%;
  margin-top: 60px;
}
.about .bottom .title-s {
  line-height: 1;
  background: url(../img/honour_bg.png) left center no-repeat;
  padding-left: 37px;
  margin-bottom: 30px;
  position: relative;
}
.about .bottom .title-s::after {
  position: absolute;
  content: '';
  display: block;
  width: 1063px;
  height: 10px;
  background: url(../img/xietiao.png) center center / cover no-repeat;
  right: 0;
  bottom: 2px;
}
.about .bottom .title-s .cn {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}
.about .bottom .title-s .en {
  font-size: 18px;
  color: #999;
  letter-spacing: 4px;
  font-family: BebasNeueRegular, sans-serif;
}
.about .bottom .honour-swiper {
  position: relative;
}
.about .bottom .honour-swiper .swiper-slide {
  height: 150px;
  border: solid 1px #d2d2d2;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.about .bottom .honour-swiper .swiper-slide:hover {
  border-color: #07913a;
}
.about .bottom .honour-swiper .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.about .bottom .swiper-button-prev,
.about .bottom .swiper-button-next {
  width: 26px;
  height: 26px;
  border: 1px solid #666;
  background-size: 40%;
  outline: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.about .bottom .swiper-button-prev {
  left: -45px;
}
.about .bottom .swiper-button-next {
  right: -45px;
}
@media screen and (max-width: 1300px) {
  .about .bottom .swiper-button-prev {
    left: 0;
  }
  .about .bottom .swiper-button-next {
    right: 0;
  }
}
.plate-title {
  text-align: center;
  margin-bottom: 30px;
}
.plate-title .cn {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.plate-title .cn b {
  color: #07913a;
}
.plate-title .cn-s {
  font-size: 16px;
  color: #888;
}
.plate-title .en {
  font-size: 24px;
  color: #999;
  text-transform: uppercase;
  font-family: BebasNeueRegular, sans-serif;
}
.plate-title .cn-s::after,
.plate-title .en::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #07913a;
  margin: 20px auto 0;
}
.plate-title.lb {
  margin-bottom: 20px;
}
.plate-title.lb .cn {
  margin-bottom: 0;
}
.plate-title.lb .en {
  margin-top: 15px;
  margin-left: 15px;
}
.plate-title.lb .en::after {
  display: none;
}
.plate-title.lb .cn-s {
  margin-left: 15px;
  margin-top: 25px;
}
.plate-title.lb .cn-s::after {
  display: none;
}
.plate-title.white {
  color: #fff;
}
.plate-title.white .en::after {
  background-color: #fff;
}
.hot {
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
}
.hot::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 37px 64px;
  border-color: #f2f2f2 transparent transparent transparent;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -73px;
}
.hot canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.hot .main {
  position: relative;
  z-index: 1;
}
.hot .wrap {
  margin-top: 30px;
}
.hot .swiper-container {
  padding-bottom: 90px;
}
.hot .swiper-slide {
  position: relative;
  width: 380px;
  height: 400px;
  background: #ffffff;
  text-align: center;
  color: #333;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.hot .swiper-slide:hover {
  background: url(../img/hot_item_bg.png) center center / cover no-repeat;
  color: #fff;
}
.hot .swiper-slide:hover .btn a {
  color: #fff;
  border-color: #fff;
  opacity: 1;
}
.hot .swiper-slide .tit {
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
}
.hot .swiper-slide .desc {
  font-size: 18px;
  margin-top: 15px;
}
.hot .swiper-slide .btn {
  margin-top: 20px;
}
.hot .swiper-slide .btn a {
  display: block;
  width: 145px;
  height: 32px;
  border-radius: 16px;
  border: solid 1px #8c8c8c;
  opacity: 0.6;
  line-height: 30px;
  margin: 0 auto;
  font-size: 14px;
}
.hot .swiper-slide .pic {
  position: relative;
  margin-top: 15px;
}
.hot .swiper-slide .pic img {
  width: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.quality-list li {
  width: 250px;
  height: 130px;
  border: solid 1px #07913a;
  padding: 1px;
  margin-bottom: 30px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
.quality-list li:hover {
  border-color: #19aac6;
}
.quality-list li:hover .inner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19aac7), to(#19aac7)), -webkit-gradient(linear, left top, left bottom, from(#dd1018), to(#dd1018));
  background-image: linear-gradient(#19aac7, #19aac7), linear-gradient(#dd1018, #dd1018);
}
.quality-list li:last-child {
  margin-bottom: 0;
}
.quality-list li .inner {
  background-color: #07913a;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 23px 15px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  cursor: pointer;
}
.quality-list li .inner .tit {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}
.quality-list li .inner .tit img {
  width: auto;
  margin-right: 15px;
}
.quality-list li .inner .desc {
  font-size: 14px;
}
.quality-list .left,
.quality-list .right {
  width: 250px;
}
.quality-list .center {
  width: 650px;
  height: 450px;
  float: left;
  margin-left: 25px;
}
.quality-list .center img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.quality .wrap {
  margin-top: 30px;
}
.cooperation li {
  width: 240px;
  height: 150px;
  background-color: #fff;
  border-left: solid 1px #ececec;
  border-top: 1px solid #ececec;
  float: left;
  position: relative;
}
.cooperation li a {
  display: block;
}
.cooperation li:nth-child(5) ~ li {
  border-bottom: 1px solid #ececec;
}
.cooperation li:nth-child(5n) {
  border-right: 1px solid #ececec;
}
.cooperation li:last-child {
  border-radius: 0 0 50px 0;
  background-color: #07913a;
  border-bottom-color: #07913a !important;
  text-align: center;
}
.cooperation li:last-child a {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.cooperation li:last-child span {
  display: block;
}
.cooperation li:last-child i {
  font-size: 20px;
}
.cooperation li img {
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.customer {
  overflow-x: hidden;
}
.customer .customer-swiper {
  position: relative;
}
.customer .swiper-slide {
  width: 960px;
}
.customer .swiper-slide:not(.swiper-slide-active) {
  opacity: .4;
}
.customer .customer-swiper-btn {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 2;
}
.customer .swiper-button-prev,
.customer .swiper-button-next {
  width: 52px;
  height: 88px;
  outline: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.customer .swiper-button-prev {
  background-image: url(../img/swiper_btn_l.png);
}
.customer .swiper-button-next {
  background-image: url(../img/swiper_btn_r.png);
}
.prominent .prominent-container .left {
  width: 920px;
  height: 340px;
}
.prominent .prominent-container .left img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.prominent .prominent-container .right {
  width: 275px;
  height: 340px;
  background-color: #09913b;
  color: #fff;
  position: relative;
}
.prominent .prominent-container .right .tit {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}
.prominent .prominent-container .right .desc {
  font-size: 16px;
  line-height: 2;
  padding: 0 30px;
  word-break: break-all;
}
.prominent .prominent-container .right .desc p {
  height: 12em;
  overflow: hidden;
}
.prominent .prominent-container .right .btn {
  position: absolute;
  width: 100%;
  background-color: #19aac5;
  text-align: center;
  bottom: 0;
}
.prominent .prominent-container .right .btn a {
  display: block;
  color: #fff;
  line-height: 45px;
}
.prominent .prominent-container .right .btn a i {
  margin-left: 15px;
}
.prominent .prominent-tabs li {
  width: 33.33%;
  text-align: center;
  float: left;
  cursor: pointer;
  border-left: 2px solid rgba(102, 102, 102, 0.2);
}
.prominent .prominent-tabs li:first-child {
  border-left: 0;
}
.prominent .prominent-tabs li.active .p1 span {
  color: #07913a;
  background: unset;
  -webkit-text-fill-color: unset;
}
.prominent .prominent-tabs li.active .p1 i {
  color: #07913a;
}
.prominent .prominent-tabs li.active .p2 {
  color: #07913a;
}
.prominent .prominent-tabs li .p1 {
  position: relative;
  padding: 0 12px;
}
.prominent .prominent-tabs li .p1 span {
  display: inline-block;
  font-size: 57px;
  font-family: Impact, sans-serif;
  background-image: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0.3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  position: relative;
  letter-spacing: 2px;
}
.prominent .prominent-tabs li .p1 i {
  font-size: 14px;
  font-family: BebasNeueRegular, sans-serif;
  background-color: #fff;
  color: #333;
  position: absolute;
  bottom: 4px;
  left: 57%;
  -webkit-transform: translateX(-57%);
          transform: translateX(-57%);
  line-height: 1;
  letter-spacing: 3px;
}
.prominent .prominent-tabs li .p2 {
  font-size: 18px;
  font-weight: bold;
}
.advert .wrap {
  height: 200px;
  background: url(../img/adv_bg.jpg) center center / cover no-repeat;
  color: #fff;
}
.advert .wrap .right {
  padding-right: 70px;
  padding-top: 35px;
}
.advert .wrap .p1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.advert .wrap .p2 {
  font-size: 18px;
}
.advert .wrap .p3 span {
  font-size: 14px;
}
.advert .wrap .p3 b {
  font-size: 40px;
  font-family: BebasNeueRegular, sans-serif;
  font-weight: normal;
}
.advert .wrap .p3 a {
  display: inline-block;
  width: 117px;
  height: 30px;
  background-color: #07913a;
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  vertical-align: super;
  margin-left: 20px;
}
.news-index {
  background-color: #f6f6f6;
}
.news-index .plate-title .en {
  margin-top: 15px;
  margin-left: 15px;
}
.news-index .plate-title .en::after {
  display: none;
}
.news-index .tabs {
  margin-top: 25px;
}
.news-index .tabs li {
  float: left;
}
.news-index .tabs li a {
  color: #666;
  padding: 0 25px;
}
.news-index .wrap .left .pic {
  width: 500px;
  height: 240px;
}
.news-index .wrap .left .pic img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.news-index .wrap .left .con .time {
  width: 75px;
  height: 75px;
  background-color: #07913a;
  text-align: center;
  color: #fff;
  font-family: BebasNeueRegular, sans-serif;
  padding-top: 15px;
}
.news-index .wrap .left .con .time p {
  line-height: 1;
}
.news-index .wrap .left .con .time .t1 {
  font-size: 26px;
  margin-bottom: 5px;
}
.news-index .wrap .left .con .time .t2 {
  font-size: 18px;
}
.news-index .wrap .left .con .tit {
  width: 425px;
  line-height: 75px;
  background-color: #fff;
  padding: 0 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-index .wrap .right li {
  width: 220px;
  height: 315px;
  background-color: #fff;
  padding: 35px 20px;
  float: left;
  border-right: 1px solid #e5e5e5;
}
.news-index .wrap .right li:last-child {
  border-right: 0;
}
.news-index .wrap .right li:hover {
  background: url(../img/news_index_item_bg.jpg) center center / cover no-repeat;
}
.news-index .wrap .right li:hover .time .t1 {
  color: #fff;
}
.news-index .wrap .right li:hover .time .t2 {
  color: #95ecf5;
}
.news-index .wrap .right li:hover .tit {
  color: #fff;
}
.news-index .wrap .right li:hover .desc {
  color: rgba(255, 255, 255, 0.6);
}
.news-index .wrap .right li:hover .more a {
  color: #fff;
}
.news-index .wrap .right li .time {
  font-family: BebasNeueRegular, sans-serif;
  margin-bottom: 10px;
}
.news-index .wrap .right li .time p {
  line-height: 1;
}
.news-index .wrap .right li .time .t1 {
  font-size: 26px;
  margin-bottom: 5px;
  color: #07913a;
}
.news-index .wrap .right li .time .t2 {
  font-size: 18px;
  color: #999;
}
.news-index .wrap .right li .tit {
  font-size: 16px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-index .wrap .right li .desc {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
.news-index .wrap .right li .desc p {
  height: 7.5em;
  overflow: hidden;
}
.news-index .wrap .right li .more {
  margin-top: 30px;
}
.news-index .wrap .right li .more a {
  font-family: BebasNeueRegular, sans-serif;
  color: #07913a;
  font-size: 16px;
}
.advantage .title {
  height: 104px;
}
.advantage .title .inner {
  width: 510px;
  height: 100%;
  margin: 0 auto;
  padding-left: 210px;
  background: url(../img/advantage_title_bg.png) left center no-repeat;
}
.advantage .title .inner .p1 {
  font-size: 36px;
  color: #07913a;
  font-weight: bold;
}
.advantage .title .inner .p2 {
  font-size: 30px;
}
.advantage-list .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(9, 145, 59, 0.2);
  position: relative;
}
.advantage-list .icon::after {
  content: '';
  display: block;
  width: 1px;
  height: 300px;
  overflow: hidden;
  background-color: #e2e2e2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
}
.advantage-list .icon i {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19aac7), to(#13ae6a)), -webkit-gradient(linear, left top, left bottom, from(#09913b), to(#09913b));
  background-image: linear-gradient(180deg, #19aac7 0%, #13ae6a 100%), linear-gradient(#09913b, #09913b);
  top: 5px;
  left: 5px;
  z-index: 2;
}
.advantage-list .icon i img {
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.advantage-list .content {
  margin-left: 30px;
}
.advantage-list .content .tit {
  border-bottom: 2px solid #07913a;
  margin-bottom: 25px;
}
.advantage-list .content .tit p {
  font-size: 24px;
  color: #07913a;
  font-weight: bold;
  padding: 25px 0;
}
.advantage-list .content .desc p {
  font-size: 16px;
  line-height: 36px;
}
.advantage-list .content .desc .btn {
  margin-top: 10px;
}
.advantage-list .content .desc .btn a {
  display: block;
  width: 170px;
  height: 43px;
  background-color: #07913a;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 43px;
}
.advantage-list li {
  overflow: hidden;
  padding: 60px 0;
}
.advantage-list li::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.advantage-list li .inner {
  width: 1200px;
  margin: 0 auto;
}
.advantage-list li .inner > div {
  width: 50%;
}
.advantage-list li .con {
  margin-top: 50px;
}
.advantage-list li .pic {
  position: relative;
}
.advantage-list li .pic img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.advantage-list li:nth-of-type(odd) .con {
  float: left;
}
.advantage-list li:nth-of-type(odd) .pic {
  float: right;
}
.advantage-list li:nth-of-type(even) {
  background-color: #f6f6f6;
}
.advantage-list li:nth-of-type(even) .con {
  float: right;
}
.advantage-list li:nth-of-type(even) .pic {
  float: left;
}
.advantage-list li:last-child .pic img {
  width: 651px;
  max-width: 651px;
}
.advantage-list li:nth-child(3) .con,
.advantage-list li:nth-child(4) .con {
  margin-top: 20px;
}
.crumbs .main {
  padding: 0;
}
.crumbs .wrap {
  background-image: url(../img/icon_crumbs.png);
  background-size: 12px 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  font-size: 0;
  padding: 30px 0 30px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.crumbs .wrap span,
.crumbs .wrap a {
  font-size: 14px;
  color: #666;
  line-height: 20px;
}
.crumbs .wrap a {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  padding: 0 3px;
}
.crumbs .wrap a:hover {
  color: #07913a;
}
.news-zxdt li {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  padding: 40px 0;
  border-bottom: 1px solid #e5e5e5;
}
.news-zxdt li:after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.news-zxdt li.border-none {
  border-color: rgba(0, 0, 0, 0);
}
.news-zxdt li.active {
  border-radius: 40px;
  padding-left: 40px;
  -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
}
.news-zxdt li.active .time {
  border: none;
}
.news-zxdt li .pic {
  width: 285px;
  height: 200px;
  float: left;
  overflow: hidden;
}
.news-zxdt li .pic:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.news-zxdt li .pic img {
  display: block;
  height: 100%;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.news-zxdt li .con {
  width: 700px;
  height: 200px;
  float: left;
  margin-left: 30px;
}
.news-zxdt li .con p.news-tit {
  font-size: 18px;
  line-height: 64px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-zxdt li .con p.news-tit a {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
.news-zxdt li .con p.news-tit:hover a {
  color: #07913a;
}
.news-zxdt li .con p.news-desc {
  font-size: 14px;
  line-height: 2;
  height: 8em;
  color: #999;
  overflow: hidden;
}
.news-zxdt li .time {
  height: 200px;
  width: 125px;
  float: right;
  color: #999;
  border-right: 1px solid #07913a;
}
.news-zxdt li .time .date {
  font-size: 30px;
  line-height: 48px;
  color: #07913a;
  margin-top: 10px;
}
.news-zxdt li .time .year {
  font-size: 20px;
  color: #07913a;
}
.news-zxdt li .time a {
  display: block;
  position: relative;
  width: 96px;
  height: 30px;
  border: solid 1px #e5e5e5;
  line-height: 28px;
  text-align: center;
  color: #999;
  font-size: 14px;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.news-zxdt li .time a span {
  position: relative;
  z-index: 1;
}
.news-zxdt li .time a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #07913a;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.news-zxdt li .time a:hover {
  border-color: #07913a;
  color: #fff;
}
.news-zxdt li .time a:hover:before {
  width: 100%;
}
.news-zxdt li .time .more {
  margin-top: 60px;
}
.shownews .main {
  padding: 60px 0 80px;
}
.shownews .news-title {
  font-size: 34px;
  color: #222;
  text-align: center;
}
.shownews .news-publish {
  font-size: 14px;
  color: #888;
  text-align: center;
  margin: 25px 0;
}
.shownews .news-publish span {
  margin: 0 10px;
}
.shownews .news-info {
  font-size: 16px;
  color: #666;
  line-height: 30px;
}
.shownews .news-info img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  width: auto;
}
.fanpian {
  margin: 50px 0 0;
}
.fanpian .fanpian-wrap {
  font-size: 0;
}
.fanpian a {
  display: inline-block;
  font-size: 14px;
  color: #444;
  padding: 0 20px;
  line-height: 45px;
  border: 1px solid #e3e3e3;
  background-color: #f7f7f7;
  width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
.fanpian a:hover {
  color: #07913a;
}
.fanpian a.page-prev,
.fanpian a.page-next {
  width: 590px;
  float: left;
}
.fanpian a.page-prev {
  margin-right: 20px;
}
.fanye {
  margin: 50px 0 0;
}
.fanye .wrap {
  font-size: 0;
  text-align: center;
}
.fanye a {
  display: inline-block;
  line-height: 34px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  padding: 0 15px;
  margin: 0 5px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
.fanye a.active,
.fanye a:hover {
  background-color: #07913a;
  border-color: #07913a;
  color: #fff;
}
.contact-map-container {
  height: 500px;
  position: relative;
}
.contact-map-container .map-mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background: url(../img/map_bg.png) center center / cover no-repeat;
  color: #fff;
  padding: 0 40px;
}
.contact-map-container .map-mask .tit {
  font-size: 30px;
  margin-top: 70px;
}
.contact-map-container .map-mask .tit::after {
  content: '';
  display: block;
  width: 90px;
  height: 1px;
  background-color: #ffffff;
  margin: 30px 0;
}
.contact-map-container .map-mask .desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}
.contact-map-container .map-mask .items p {
  position: relative;
  padding-left: 30px;
  line-height: 40px;
}
.contact-map-container .map-mask .items img {
  width: auto;
  margin-right: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
#map {
  width: 100%;
  height: 100%;
}
#map * {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
#map img {
  width: auto;
}
#map input {
  all: initial;
}
#map input[type=button] {
  text-align: center;
}
#map .BMapLib_search_text {
  width: 100%;
  height: 20px;
  line-height: 20px;
  border: 1px solid #a5acb2;
}
#map .BMapLib_trans_text {
  width: 100%;
  height: 20px;
  line-height: 20px;
  border: 1px solid #a5acb2;
}
#map .BMapLib_SearchInfoWindow .iw_bt,
#map .BMapLib_SearchInfoWindow .iw_bt_down,
#map .BMapLib_SearchInfoWindow .iw_bt_over {
  width: 48px;
  height: 26px;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background: url(http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/iw_bg.png) no-repeat 0 -87px;
  vertical-align: middle;
}
#map .BMapLib_sms_pnl_phone input[type=text] {
  width: 120px;
  border: 1px solid #ddd;
}
.recruitment .recruitment-head {
  background-color: #07913a;
}
.recruitment .recruitment-head li {
  float: left;
  line-height: 60px;
  width: 14.285%;
  text-align: center;
  color: #fff;
}
.recruitment .recruitment-body li {
  margin: 5px 0;
}
.recruitment .recruitment-body .litit {
  background-color: #eee;
}
.recruitment .recruitment-body .litit::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.recruitment .recruitment-body .litit span {
  display: block;
  float: left;
  line-height: 60px;
  width: 14.285%;
  text-align: center;
  font-size: 14px;
}
.recruitment .recruitment-body .litit span.toshow a {
  color: #07913a;
}
.recruitment .recruitment-body .licon {
  display: none;
}
.recruitment .recruitment-body .licon .con {
  font-size: 14px;
  color: #333;
  line-height: 26px;
  padding: 30px;
}
.lt-form .input-item {
  width: 384px;
  height: 40px;
  float: left;
  position: relative;
  margin-right: 24px;
}
.lt-form .input-item:last-child {
  margin-right: 0;
}
.lt-form .input-item i {
  position: absolute;
  line-height: 42px;
  color: #999;
  padding: 0 10px;
  font-size: 14px;
}
.lt-form .input-item input {
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5;
  padding-left: 30px;
  font-size: 14px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.lt-form .input-item input::-webkit-input-placeholder {
  color: #999;
}
.lt-form .input-item input:-ms-input-placeholder {
  color: #999;
}
.lt-form .input-item input::-ms-input-placeholder {
  color: #999;
}
.lt-form .input-item input::placeholder {
  color: #999;
}
.lt-form .input-item input:focus {
  border-color: #07913a;
}
.lt-form .textarea-item {
  margin-top: 15px;
}
.lt-form textarea {
  display: block;
  width: 100%;
  height: 240px;
  border: 1px solid #e5e5e5;
  outline: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  font-size: 14px;
  padding: 10px;
  color: #999;
  resize: none;
  overflow: auto;
}
.lt-form textarea::-webkit-input-placeholder {
  color: #999;
}
.lt-form textarea:-ms-input-placeholder {
  color: #999;
}
.lt-form textarea::-ms-input-placeholder {
  color: #999;
}
.lt-form textarea::placeholder {
  color: #999;
}
.lt-form textarea:focus {
  border-color: #07913a;
}
.lt-form .btn {
  margin-top: 15px;
}
.lt-form button {
  width: 100%;
  height: 50px;
  background-color: #666;
  color: #fff;
  border: none;
  cursor: pointer;
}
.numdata .numdata-head {
  width: 90px;
  height: 490px;
  background-color: #07913a;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.numdata .numdata-head p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 90px;
  text-align: center;
  height: 100%;
}
.numdata .numdata-body {
  font-size: 0;
}
.numdata .tips {
  width: 100%;
  float: left;
  text-align: center;
  color: #999;
  margin-top: 20px;
}
.numdata table {
  width: 1100px;
}
.numdata table thead {
  font-size: 18px;
  width: 100%;
}
.numdata table thead th {
  border: 1px solid #fff;
}
.numdata table thead tr {
  height: 50px;
  background-color: #07913a;
  color: #fff;
}
.numdata table tbody {
  font-size: 16px;
}
.numdata table tbody tr {
  height: 40px;
  text-align: center;
  color: #555;
}
.numdata table tbody tr:nth-of-type(odd) {
  background-color: #eee;
}
.numdata table tbody td {
  border: 1px solid #fff;
}
.advert-2 {
  position: relative;
}
.advert-2 .content {
  position: absolute;
  top: 0;
  right: 0;
  width: 422px;
  height: 400px;
  background: url(../img/hzms.png) no-repeat;
  padding-left: 60px;
  padding-right: 40px;
  color: #fff;
}
.advert-2 .content .tit {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}
.advert-2 .content .tit::after {
  content: '';
  display: block;
  width: 90px;
  height: 1px;
  background-color: #ffffff;
  margin: 25px 0;
}
.advert-2 .content img {
  width: auto;
  vertical-align: sub;
}
.advert-2 .content .item {
  margin-bottom: 30px;
}
.advert-2 .content .p1 {
  margin-bottom: 15px;
}
.advert-2 .content .p1 i {
  margin-right: 15px;
}
.advert-2 .content .p1 span {
  font-size: 24px;
  font-weight: bold;
}
.advert-2 .content .p1 em {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}
.advert-2 .content .p2 {
  font-size: 18px;
}
.yjhx {
  background: url(../img/yjhx_bg.jpg) center top / auto no-repeat;
}
.yjhx .wrap {
  margin-top: 125px;
}
.yjhx .list li {
  width: 380px;
  height: 400px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  float: left;
  padding: 100px 35px 0;
  margin-right: 30px;
}
.yjhx .list li:last-child {
  margin-right: 0;
}
.yjhx .list li i {
  position: absolute;
  top: -75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.yjhx .list li img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.yjhx .list li .p1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
.yjhx .list li .p2 {
  line-height: 2;
  color: #666;
}
.eee {
  background-color: #eee;
}
.csfa .left {
  width: 627px;
  height: 450px;
  background: url(../img/cshhrfa_l.png) no-repeat;
  padding: 0 50px;
}
.csfa .left .tit {
  font-size: 24px;
  color: #07913a;
  margin: 30px 0 10px;
}
.csfa .left .tit b {
  font-size: 30px;
}
.csfa .left .desc p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 40px;
}
.csfa .left .desc i {
  display: inline-block;
  width: 50px;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19aac7), to(#13ae6a)), -webkit-gradient(linear, left top, left bottom, from(#00a04f), to(#00a04f));
  background-image: linear-gradient(180deg, #19aac7 0%, #13ae6a 100%), linear-gradient(#00a04f, #00a04f);
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-family: Impact, sans-serif;
  font-size: 30px;
  margin-right: 20px;
  vertical-align: middle;
}
.zdfa .wrap {
  position: relative;
  margin-top: 40px;
  padding-top: 50px;
}
.zdfa .wrap .pic {
  width: 729px;
  margin: 0 auto;
}
.zdfa .wrap p {
  font-size: 18px;
  line-height: 32px;
  position: absolute;
}
.zdfa .wrap p.p1 {
  left: 0;
  bottom: 35px;
}
.zdfa .wrap p.p2 {
  left: 70px;
  bottom: 230px;
}
.zdfa .wrap p.p3 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
}
.zdfa .wrap p.p4 {
  left: 880px;
  bottom: 210px;
}
.zdfa .wrap p.p5 {
  left: 980px;
  bottom: 10px;
}
.shfw .list {
  text-align: center;
  font-size: 0;
}
.shfw .list .c {
  font-size: 16px;
  color: #666;
  text-indent: 2em;
  line-height: 2;
  margin-bottom: 50px;
  text-align: left;
}
.shfw .list ul {
  display: inline-block;
}
.shfw .list li {
  width: 240px;
  float: left;
  text-align: center;
}
.shfw .list li p {
  font-size: 18px;
  margin-top: 15px;
}
.shfw .list li i {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #eeeeee;
  margin: 0 auto;
  position: relative;
}
.shfw .list li i img {
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.fwwl {
  height: 843px;
  background: url(../img/fwwl_bg.jpg) center top no-repeat;
}
.shbz .table-box {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}
.shbz .tips {
  color: #666;
  margin-top: 10px;
}
.shbz .tips b {
  font-weight: normal;
  color: #07913a;
}
.shbz .left {
  width: 600px;
}
.shbz .right {
  width: 550px;
}
.shbz table {
  width: 100%;
  height: 130px;
}
.shbz table thead tr {
  height: 40px;
  background-color: #eee;
  color: #666;
  text-align: center;
}
.shbz table thead tr th {
  font-weight: normal;
}
.shbz table tbody {
  margin: 20px 0;
}
.shbz table tbody tr {
  height: 30px;
  text-align: center;
}
.shbz table tbody tr td {
  font-size: 14px;
  color: #444;
}
.cgal-tabs {
  margin: 30px 0 40px;
}
.cgal-tabs li {
  width: 25%;
  float: left;
  text-align: center;
}
.cgal-tabs li a {
  display: block;
  line-height: 60px;
  background-color: #eee;
  font-size: 18px;
}
.cgal-tabs li a.active {
  background-color: #07913a;
  color: #fff;
}
.cgal-list li {
  width: 380px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cgal-list li:nth-child(3n) {
  margin-right: 0;
}
.cgal-list li .pic {
  height: 300px;
}
.cgal-list li .pic img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cgal-list li .con {
  height: 80px;
  border-bottom: 1px solid #eee;
}
.cgal-list li .con p {
  width: 320px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 80px;
}
.cgal-list li .con a {
  display: inline-block;
  width: 55px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #a5a5a5;
  text-align: center;
  line-height: 28px;
  float: right;
  margin-top: 25px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.cgal-list li .con a:hover {
  border-color: #07913a;
  color: #07913a;
}
.recommend .recommend-title {
  height: 60px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.recommend .recommend-title .cn {
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
}
.recommend .recommend-title .more a {
  font-size: 14px;
  line-height: 60px;
  color: #888;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.recommend .recommend-title .more a:hover {
  color: #07913a;
}
.recommend .recommend-list a::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.recommend .recommend-list li {
  width: 280px;
  float: left;
  margin-right: 25px;
}
.recommend .recommend-list li:last-child {
  margin-right: 0;
}
.recommend .recommend-list li .pic {
  height: 220px;
}
.recommend .recommend-list li .pic img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.recommend .recommend-list li .con p {
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.allipics .right {
  width: 170px;
  height: 366px;
  position: relative;
}
.allipics .right .swiper-button-prev,
.allipics .right .swiper-button-next {
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: 18px 11px;
  background-position: center center;
  width: 50%;
  height: 46px;
  outline: none;
  margin: 0;
  top: auto;
  bottom: 0;
  opacity: 1;
  z-index: 2;
}
.allipics .right .swiper-button-prev {
  left: 0;
  background-image: url(../img/alxq_jt_t.png);
}
.allipics .right .swiper-button-next {
  right: 0;
  background-image: url(../img/alxq_jt_b.png);
}
.allipics .anli-gallery-top {
  width: 502px;
  height: 366px;
  float: left;
  margin-right: 5px;
}
.allipics .anli-gallery-thumbs {
  float: right;
  height: 316px;
}
.allipics .anli-gallery-thumbs .swiper-slide {
  height: 100px;
  position: relative;
  cursor: pointer;
}
.allipics .anli-gallery-thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.allipics .anli-gallery-thumbs .swiper-slide:not(.swiper-slide-thumb-active)::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.allipics .anli-gallery-thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.allipics .content {
  width: 500px;
  height: 366px;
  background-color: #eeeeee;
  padding-left: 50px;
  padding-right: 20px;
}
.allipics .content .p1 {
  font-size: 24px;
  font-weight: bold;
  color: #07913a;
  margin-top: 50px;
}
.allipics .content .p2 {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-top: 20px;
  margin-bottom: 20px;
}
.allipics .content .p2 b {
  color: #333;
}
.allipics .content .desc {
  font-size: 16px;
  line-height: 36px;
}
.al-films .film-wrap {
  height: 500px;
  position: relative;
  margin: 40px 0;
  padding-top: 190px;
}
.al-films .play-btn {
  width: 68px;
  height: 68px;
  background: url(../img/play_white.png) center center / cover no-repeat;
  cursor: pointer;
  margin: 0 auto;
}
.al-films .film-mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
}
.al-films .film-mask .wrap {
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.plate-title-art {
  text-align: center;
  position: relative;
}
.plate-title-art:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bbb;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.plate-title-art span {
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}
.plate-title-art .cn span {
  font-size: 30px;
  font-weight: bold;
}
.plate-title-art .cn b {
  color: #07913a;
}
.plate-title-art .en {
  font-size: 18px;
  color: #999;
  font-family: BebasNeueRegular, sans-serif;
  text-transform: uppercase;
}
.plate-title-art.eee span {
  background-color: #eee;
}
.play-btn {
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}
.play-btn:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.cpzx-list li {
  margin-bottom: 40px;
}
.cpzx-list li::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.cpzx-list li:last-child {
  margin-bottom: 0;
}
.cpzx-list li:nth-of-type(odd) .con {
  float: right;
}
.cpzx-list li:nth-of-type(odd) .pic {
  float: left;
}
.cpzx-list li:nth-of-type(even) .con {
  float: left;
}
.cpzx-list li:nth-of-type(even) .pic {
  float: right;
}
.cpzx-list li .pic,
.cpzx-list li .con {
  width: 50%;
  height: 340px;
}
.cpzx-list li .pic {
  border: 1px solid #eee;
}
.cpzx-list li .pic img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cpzx-list li .con {
  background-color: #eee;
  padding: 40px;
}
.cpzx-list li .name {
  font-size: 24px;
  font-weight: bold;
  color: #07913a;
  margin-bottom: 10px;
}
.cpzx-list li .choose::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: #07913a;
  margin: 20px 0;
}
.cpzx-list li .choose .colors {
  font-size: 14px;
  color: #666;
}
.cpzx-list li .choose .colors i {
  display: inline-block;
  width: 40px;
  height: 5px;
  vertical-align: middle;
  margin-right: 5px;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
}
.cpzx-list li .choose .colors.c-red i {
  background-color: #aa2d22;
}
.cpzx-list li .choose .colors.c-gray i {
  background-color: #a6a6a6;
}
.cpzx-list li .choose .colors.c-green i {
  background-color: #6fbd68;
}
.cpzx-list li .desc {
  font-size: 16px;
  color: #666;
  line-height: 30px;
}
.cpzx-list li .btn {
  margin-top: 20px;
}
.cpzx-list li .btn a {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: #888;
}
.choose .colors {
  font-size: 14px;
  color: #666;
  margin-right: 8px;
}
.choose .colors i {
  display: inline-block;
  width: 40px;
  height: 5px;
  vertical-align: middle;
  margin-right: 5px;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
}
.choose .colors.c-red i {
  background-color: #aa2d22;
}
.choose .colors.c-gray i {
  background-color: #a6a6a6;
}
.choose .colors.c-green i {
  background-color: #6fbd68;
}
.ptss-list li {
  width: 380px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.ptss-list li:nth-child(3n) {
  margin-right: 0;
}
.ptss-list li .con p {
  width: 280px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 50px;
}
.ptss-list li .con a {
  float: right;
  text-align: right;
  width: 100px;
  font-size: 12px;
  line-height: 50px;
  color: #999;
}
.ptss-list li .con a:hover {
  border-color: #07913a;
  color: #07913a;
}
.cppics .pics {
  width: 600px;
}
.cppics .bottom {
  position: relative;
}
.cppics .cp-gallery-top {
  height: 400px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}
.cppics .cp-gallery-top .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cppics .cp-gallery-thumbs {
  width: 528px;
}
.cppics .cp-gallery-thumbs .swiper-slide {
  height: 90px;
  position: relative;
  cursor: pointer;
}
.cppics .cp-gallery-thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cppics .cp-gallery-thumbs .swiper-slide.swiper-slide-thumb-active::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #07913a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cppics .cp-gallery-thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cppics .swiper-button-prev,
.cppics .swiper-button-next {
  background-size: 17px 31px;
  outline: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cppics .swiper-button-prev {
  left: 0;
}
.cppics .swiper-button-next {
  right: 0;
}
.cppics .content {
  width: 550px;
}
.cppics .content .name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cppics .content .tips {
  font-size: 24px;
  color: #666;
  margin-bottom: 20px;
}
.cppics .content .choose {
  margin-bottom: 40px;
}
.cppics .content .choose p {
  margin-bottom: 10px;
}
.cppics .content .desc {
  color: #666;
  height: 180px;
  background-color: #f4f4f4;
  padding: 0 30px;
  line-height: 2;
}
.cppics .content .btn {
  margin-top: 50px;
}
.cppics .content .btn .btn-wrap {
  width: 538px;
  height: 60px;
  background: url(../img/cpxq_a_bg.png) no-repeat;
  padding-left: 85px;
  padding-right: 45px;
}
.cppics .content .btn span,
.cppics .content .btn a {
  color: #fff;
  line-height: 60px;
  font-size: 28px;
}
.cppics .content .btn a {
  float: right;
}
.cpyd-list li {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  border: solid 1px #e5e5e5;
  position: relative;
  padding: 30px 60px;
}
.cpyd-list li:first-child {
  float: left;
}
.cpyd-list li:first-child .ico {
  right: -62px;
}
.cpyd-list li:last-child {
  float: right;
  padding-left: 80px;
}
.cpyd-list li:last-child .ico {
  left: -62px;
}
.cpyd-list li .tit {
  font-size: 24px;
  font-weight: bold;
  color: #07913a;
  margin-bottom: 10px;
}
.cpyd-list li .desc p {
  line-height: 36px;
  background: url(../img/icon_jtp.png) left center no-repeat;
  padding-left: 15px;
}
.cpyd-list li .ico {
  width: 125px;
  height: 125px;
  background: url(../img/yuan_.png) no-repeat;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cpyd-list li .ico i {
  line-height: 125px;
  color: #fff;
  font-family: Impact, sans-serif;
  font-size: 60px;
}
.jscs table {
  width: 100%;
}
.jscs table thead {
  font-size: 18px;
  width: 100%;
}
.jscs table thead th {
  width: 25%;
  border: 1px solid #fff;
}
.jscs table thead tr {
  height: 50px;
  background-color: #07913a;
  color: #fff;
}
.jscs table tbody {
  font-size: 16px;
}
.jscs table tbody tr {
  height: 40px;
  text-align: center;
  color: #666;
}
.jscs table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.jscs table tbody td {
  border: 1px solid #fff;
}
.jbxj-list li {
  width: 380px;
  height: 300px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.jbxj-list li:nth-child(3n) {
  margin-right: 0;
}
.jbxj-list li:nth-child(3) ~ li {
  margin-bottom: 0;
}
.jbxj-list li img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.xclc-list {
  text-align: center;
  font-size: 0;
}
.xclc-list ul {
  display: inline-block;
}
.xclc-list li {
  width: 133px;
  height: 154px;
  background: url(../img/liu_n.png) no-repeat;
  text-align: center;
  line-height: 154px;
  font-size: 18px;
  float: left;
  margin-right: 44px;
  position: relative;
  color: #333;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  cursor: pointer;
}
.xclc-list li::after {
  content: '';
  display: block;
  width: 15px;
  height: 23px;
  background: url(../img/xclc_jt.png) no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -28px;
}
.xclc-list li:last-child {
  margin-right: 0;
}
.xclc-list li:last-child::after {
  display: none;
}
.xclc-list li:hover {
  background: url(../img/liu_h.png) no-repeat;
  color: #fff;
}
.khal .wrap {
  position: relative;
}
.khal .swiper-container {
  width: 1080px;
}
.khal .swiper-slide {
  width: 540px;
  height: 400px;
  position: relative;
}
.khal .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.khal .swiper-slide p {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: 60px;
  background-color: rgba(0, 160, 79, 0.7);
  color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.khal .swiper-button-prev,
.khal .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background-size: 30%;
  outline: none;
}
.khal .swiper-button-prev {
  left: 0;
}
.khal .swiper-button-next {
  right: 0;
}
.about-inner {
  background: url(../img/about_bg.jpg) center bottom no-repeat;
}
.about-inner .left {
  width: 600px;
}
.about-inner .left .film-wrap {
  height: 450px;
  position: relative;
  padding-top: 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.about-inner .left .play-btn {
  width: 68px;
  height: 68px;
  background: url(../img/play_white.png) center center / cover no-repeat;
  cursor: pointer;
  margin: 0 auto;
}
.about-inner .left .film-mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
}
.about-inner .left .film-mask .wrap {
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about-inner .right {
  width: 550px;
}
.about-inner .right .tit {
  font-size: 30px;
  font-weight: bold;
  color: #07913a;
  margin-bottom: 10px;
}
.about-inner .right .tit-b {
  font-size: 24px;
  color: #07913a;
  margin-bottom: 30px;
}
.about-inner .right .desc {
  font-size: 14px;
  line-height: 30px;
  color: #666;
  text-indent: 2em;
}
.about-inner .bottom {
  width: 100%;
  float: left;
  margin-top: 70px;
}
.about-inner .bottom li {
  width: 20%;
  text-align: center;
  float: left;
  line-height: 1;
  border-right: 1px solid #e3e3e3;
}
.about-inner .bottom li:last-child {
  border-right: 0;
}
.about-inner .bottom li .p1 {
  margin-bottom: 10px;
}
.about-inner .bottom li .p1 span {
  font-size: 64px;
  font-family: BebasNeueRegular, sans-serif;
}
.about-inner .bottom li .p1 i {
  font-size: 24px;
}
.about-inner .bottom li .p2 {
  font-size: 16px;
}
.tdfc-list li {
  width: 380px;
  height: 300px;
  float: left;
  margin-right: 30px;
}
.tdfc-list li:last-child {
  margin-right: 0;
}
.ryzz .honour-swiper {
  position: relative;
}
.ryzz .honour-swiper .swiper-slide {
  height: 150px;
  border: solid 1px #d2d2d2;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.ryzz .honour-swiper .swiper-slide:hover {
  border-color: #07913a;
}
.ryzz .honour-swiper .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
